<nav>
  <ul>
    <li><a routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
    <li><a routerLink="/claims" routerLinkActive="active" ariaCurrentWhenActive="page">Search</a></li>
    <li><a routerLink="/readyToInvoice" routerLinkActive="active" ariaCurrentWhenActive="page">Invoice</a></li>
    <li><a routerLink="/remittances" routerLinkActive="active" ariaCurrentWhenActive="page">Remittence</a></li>
    <li><a routerLink="/bodyshopprofile" routerLinkActive="active" ariaCurrentWhenActive="page">Bodyshop</a></li>
    
  </ul>
</nav>

<router-outlet></router-outlet>
